<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acticle-list</title>
</head>
<body>
    <h1>Welcome to our Acticles Blog </h1>
    <div class="acticles">
        {% for acticle in acticles %}
        <div class="acticle">
           <h2><a href=""> {{ acticle.title }}</a></h2>
           <p>{{acticle.body}}</p>
           <p>{{acticle.date}}</p>
        </div>
    {% endfor %}
       
    </div>
</body>
</html>